annotated-types
anyio
asttokens
backcall
click
colorama
comm
contourpy
cycler
debugpy
decorator
et-xmlfile
executing
fastapi
fonttools
h11
httptools
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
nltk
numpy
openpyxl
packaging